@use '../../../styles/variables.scss' as *;

.userContent {
  display: flex;
  margin: $indent-lg 0;
  padding: $indent-md;
  background-color: $white-color;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow;
}
