$indent-sm: 8px;
$indent-md: 12px;
$indent-lg: 16px;
$indent-xl: 20px;

$white-color: #fff;

$primary-color: #318f31;
$primary-color-hover: #46b646;
$primary-color-active: #246624;

$bg-color: #ccc;
$bg-light-color: #eee;

$border-color: #888;
$border-dark-color: #333;

$light-text-color: #666;
$text-color: #444;
$text-hover-color: #000;

$border-radius: 4px;
$border-radius-md: 8px;

$box-shadow: 0 0 8px 2px #555;
